<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NO|HP| - $title$</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://npmcdn.com/tachyons@4.0.0-beta.29/css/tachyons.min.css">
</head>

<body class="w-100 sans-serif">
  <header class="w-100 dt pa4 ph6-ns bg-near-white">
    <a class="fl link cf black tracked" href="/">NO_HP_</a>
    <nav class="fr cf">
      <a class="link pr3 black" href="/about.html">Journals</a>
      <a class="link pr3 black" href="/contact.html">Contact</a>
    </nav>
  </header>

  <div id="content" class="cf w-100">
    $body$
  </div>
</body>

</html>
